:root {
  --main-text-color:  #555555;;
  --main-title-color: #222222;
  --main-background-color: #ffffff;
  --secondary-bg-color: rgba(9, 166, 109, 0.05);
  --accent-color: #09A66D;
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
}
