<div class="adventages container">
    <div class="adv__info">
        <h2 class="title">Why We Are The Best?</h2>
        <p class="adv__text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley...</p>
        <ul class="adv__list">
            <li class="adv__item">
                <div class="adv__item-icon">
                    <svg width="40" height="40">
                        <use href="../src/images/sprite.svg#icon-driver"></use>
                    </svg>
                </div>
                <span>
                    <h3 class="adv__item-title">Fasted delivery Service</h3>
                    <p class="adv__item-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                </span>
            </li>
            <li class="adv__item">
                <div class="adv__item-icon">
                    <svg width="40" height="40">
                        <use href="../src/images/sprite.svg#icon-shopping-list"></use>
                    </svg>
                </div>
                <span>
                    <h3 class="adv__item-title">Online order Service</h3>
                    <p class="adv__item-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                </span>
            </li>
            <li class="adv__item">
                <div class="adv__item-icon">
                    <svg width="40" height="40">
                        <use href="../src/images/sprite.svg#icon-fast-time"></use>
                    </svg>
                </div>
                <span>
                    <h3 class="adv__item-title">24/8 Service</h3>
                    <p class="adv__item-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                </span>
            </li>
        </ul>
    </div>
    <div class="adv__bg"></div>
</div>