<div class="container app">
    <div class="app__bg"></div>
    <div class="app__info">
        <a href="#" class="app__link app__link--download">Download App</a>
        <h2 class="title">Simple Way To Order Your Organic Fruit </h2>
        <p class="app__text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer...</p>
        <div class="app__links">
            <a href="#" class="app__links--appstore">
                <img src="../src/images/AppStore.png" alt="Download app from AppStore" width="105">
            </a>
            <a href="#" class="app__links--googleplay">
                <img src="../src/images/GooglePlay.png" alt="Download app from GooglePlay" width="105">
            </a>
        </div>
    </div>
</div>