<div class="footer container">
    <div class="footer__logo">
        <a href="#" class="footer__logo-link">
            <svg class="footer__icon-logo" width="70" height="70">
                <use href="../src/images/sprite.svg#icon-logo"></use>
            </svg>
        </a>
        <p class="footer__logo-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer...</p>
    </div>
    <div class="footer__nav">
        <p class="footer__title">Navigation</p>
        <ul class="footer__nav-list footer__list">
            <li class="footer__item"><a href="#" class="footer__link">About Us</a></li>
            <li class="footer__item"><a href="#" class="footer__link">Service</a></li>
            <li class="footer__item"><a href="#" class="footer__link">Menu</a></li>
        </ul>
    </div>
    <div class="footer__resources">
        <p class="footer__title">Resources</p>
        <ul class="footer__list">
            <li class="footer__item"><a href="#" class="footer__link">Reviews</a></li>
            <li class="footer__item"><a href="#" class="footer__link">Blog</a></li>
            <li class="footer__item"><a href="#" class="footer__link">Update News</a></li>
        </ul>
    </div>
    <div class="footer__contacts">
        <p class="footer__title">Contact Us</p>
        <ul class="footr__list">
            <li class="footer__item"><a href="mailto:oyasim@email.com" class="footer__link">Email: oyasim@email.com</a></li>
            <li class="footer__item">
            <ul class="footer__socials-list">
                <li class="footer__socials-item"><a href="#" class="footer__link">
                    <svg class="footer__icon" width="24" height="24">
                        <use href="../src/images/sprite.svg#icon-fb"></use>
                    </svg>
                </a></li>
                <li class="footer__socials-item"><a href="#" class="footer__link">
                    <svg class="footer__icon" width="24" height="24">
                        <use href="../src/images/sprite.svg#icon-tw"></use>
                    </svg>
                </a></li>
                <li class="footer__socials-item"><a href="#" class="footer__link">
                    <svg class="footer__icon" width="24" height="24">
                        <use href="../src/images/sprite.svg#icon-insta"></use>
                    </svg>
                </a></li>
            </ul>
        </li>
        </ul>
    </div>
</div>