<header class="header container">
    <nav class="nav">
        <ul class="header__nav-list">
            <li class="header__nav-item"><a href="#" class="nav-link">About Us</a></li>
            <li class="header__nav-item"><a href="#" class="nav-link">Service</a></li>
            <li class="header__nav-item"><a href="#" class="nav-link">Menu</a></li>
            <li class="header__nav-item"><a href="#" class="nav-link">Contact</a></li>
        </ul>
    </nav>
    <div class="header__logo">
        <a href="#" class="header__logo-link">
        <svg class="header__icon-logo" width="56" height="56">
            <use href="../src/images/sprite.svg#icon-logo"></use>
        </svg>
        </a>
    </div>
    <ul class="header__user-list">
        <li class="header__user-item">
            <button class="header__btn header__btn-search">
                <svg class="header__icon" width="35" height="35">
                    <use href="../src/images/sprite.svg#icon-search"></use>
                </svg>
            </button>
        </li>
        <li class="header__user-item">
            <button class="header__btn header__btn-basket">
                <svg class="header__icon" width="30" height="30">
                    <use href="../src/images/sprite.svg#icon-basket"></use>
                </svg>
            </button>
        </li>
        <li class="header__user-item"><button class="header__btn-reg"><span class="header__reg-text">Regestar Now</span></button></li>
    </ul>
</header>