<div class="hero">
    <div class="container bg">
        <h1 class="title">Organic Fruit & Vegetables</h1>
        <p class="hero__text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley...</p>
        <button class="hero__btn">
            <span class="hero__btn-text">Order Now</span>
            <div class="hero__btn-icon--container">
                <svg class="hero__btn-icon" width="32" height="15">
                    <use href="../src/images/sprite.svg#icon-arrow"></use>
                </svg>
            </div>
        </button>
        <ul class="hero__list">
            <li class="hero__item">
                <div class="hero__icon--container">
                <svg class="hero__item-icon" width="32" height="32">
                    <use href="../src/images/sprite.svg#icon-user"></use>
                </svg>
                </div>
                <span class="hero__item-text">
                    <p class="hero__item-text--number">30K</p>
                    <p class="hero__item-text--key">User Order</p>
                </span>
            </li>
            <li class="hero__item">
                <div class="hero__icon--container">
                <svg class="hero__item-icon" width="32" height="32">
                    <use href="../src/images/sprite.svg#icon-star"></use>
                </svg>
                </div>
                <span class="hero__item-text">
                    <p class="hero__item-text--number">20K</p>
                    <p class="hero__item-text--key">Reviews(4.8)</p>
                </span>
            </li>
            <li class="hero__item">
                <div class="hero__icon--container">
                <svg class="hero__item-icon" width="32" height="32">
                    <use href="../src/images/sprite.svg#icon-food"></use>
                </svg>
                </div>
                <span class="hero__item-text">
                    <p class="hero__item-text--number">300</p>
                    <p class="hero__item-text--key">Items</p>
                </span>
            </li>
        </ul>
        
    </div>

</div>
