<div class="specials">
    <div class="container specials-container">
        <div class="specials__bg">
            <div class="specials__bg--rotate">
                <div class="specials__decor specials__decor--cucumber"></div>
                <div class="specials__decor specials__decor--apple"></div>
                <div class="specials__decor specials__decor--orange"></div>
                <div class="specials__decor specials__decor--spinach"></div>
            </div>
        </div>
        <div class="specials__info">
            <h2 class="title">Explore Our Special Items</h2>
            <p class="specials__text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer...</p>
            <button class="specials__btn">
                <span class="specials__btn-text">Explore Now</span>
                <div class="specials__btn-icon--container">
                    <svg class="specials__btn-icon" width="32" height="15">
                        <use href="../src/images/sprite.svg#icon-arrow"></use>
                    </svg>
                </div>
            </button>
        </div>
    </div>
</div>